<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-type content="text/html; charset=utf-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/static/css/cling.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" charset="utf-8" src="/static/js/mootools.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/powertools.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/deck.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/js/cling.js"></script>
    <script>
        document.createElement('header');
        document.createElement('section');
        document.createElement('footer');
        document.createElement('aside');
        window.addEvent('domready', function(){
            var cling = new Cling();
        });
    </script>
</head>
<body>
    <div id="stage">
        <div class="page_container">
        {{ page_content }}
        </div>
    </div>
    {% include 'asset/footer.html' %}
</body>
</html>
